<div class="div-home">
  <div class="view-desk" *ngIf="!isMobile">
    <div class="div-studio" *ngIf="show">
      <div class="div-lifestyle" *ngFor="let new of news.slice().reverse() | slice: 0:1">
        <div class="div-studio-img">
          <a href="">
            <img src="{{ new.path }}" alt="{{ new.title }}" />
          </a>
        </div>
        <div class="div-studio-title">
          <a href="">
            <p>{{ new.title | uppercase }}</p>
          </a>
          <hr class="hr-in-studio" />
        </div>
        <div class="div-studio-thread">
          {{ new.thread }} | {{ new.threadChild }}
        </div>
        <div class="div-studio-day">{{ new.day }}</div>
      </div>

      <div class="div-fashion" *ngFor="let new of news.slice().reverse() | slice: 1:2">
        <div class="div-studio-img">
          <a href="">
            <img src="{{ new.path }}" alt="{{ new.title }}" />
          </a>
        </div>
        <div class="div-studio-title">
          <a href="">
            <p>{{ new.title | uppercase }}</p>
          </a>
          <hr class="hr-in-studio" />
        </div>
        <div class="div-studio-thread">
          {{ new.thread }} | {{ new.threadChild }}
        </div>
        <div class="div-studio-day">{{ new.day }}</div>
      </div>
    </div>

    <hr />

    <div class="div-gallery">
      <div class="div-button">
        <img class="button-prv" src="../assets/Icon/prv.png" alt="Prv" (click)="galleryPrv()" />
        <img class="button-nxt" src="../assets/Icon/nxt.png" alt="Nxt" (click)="galleryNxt()" />
      </div>
      <ul class="ul-gallery-img">
        <li *ngFor="let item of gallery | slice: start:end">
          <img @fade src="{{ item.path }}" alt="Image {{ item.id }}" />
        </li>
      </ul>
    </div>
  </div>

  <div class="view-mb" *ngIf="isMobile && show">
    <div *ngIf="show">
      <div class="div-studio" *ngFor="let new of news.slice().reverse()">
        <div class="div-studio-img">
          <a href="">
            <img src="{{ new.path }}" alt="{{ new.title }}" />
          </a>
        </div>
        <div class="div-studio-title">
          <a href="">
            <p>{{ new.title | uppercase }}</p>
          </a>
          <hr class="hr-in-studio" />
        </div>
        <div class="div-studio-thread">
          {{ new.thread }} | {{ new.threadChild }}
        </div>
        <div class="div-studio-day">{{ new.day }}</div>
      </div>
    </div>
  </div>
</div>